@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.button{
  font-size: 14px;
  //font-size: 6vw;
  padding-left: 16px;
  padding-right: 16px;
  // padding-left: 6vw;
  // padding-right: 6vw;
  font-family: 'Lato-Bold';
  text-decoration: none;
  color: #c0a064;        
  border: 2px solid #c0a064;

  @include media-breakpoint-up(sm){
    font-size: 18px;
    padding-right: 60px;
    padding-left: 60px;
  }  
}