$grid-gutter-width: 0;
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'fonts.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include lato-font('medium');
}
