.layout {
    width: calc(100% - 30px);
    height: auto;
    min-height: calc(100% - 120px);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 120px;
    //padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
}